@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/ptsans-400.woff2) format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/ptsans-700.woff2) format("woff2");
    font-display: swap;
}

body {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #333;
    background-color: #f2f2f2;
}

/* .visually-hidden {
    visibility: hidden;
} */

/* page-header */
.page-header {
    background-color: #ffffff;
}

.navigation-link {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;

    text-align: center;
    color: #000;
    text-decoration: none;
    text-transform: capitalize;
}


/* добавить кнопкам и импутам шрифты по макету */
.button-navigation-link {
    background-color: #756157;
}

.navigation-link-button {
    text-align: center;
    color: #ffffff;

    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    text-decoration: none;
}

/* hero */
.hero {
    background-image: url("../images/background/hero-background.jpg");
    background-color: #f2f2f2;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
}

/* advantages */
.advantages {
    background-color: #ffffff;
}

.advantages-title {
    color: #000;
    text-align: center;

    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
}

.advantages-description {
    text-align: center;
    font-size: 22px;
    line-height: 26px;
}

.advantages-list {
    text-align: center;
}

.advantages-item {
    color: #333333;
    list-style: none;
}

.advantages-item-title {
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
}


.item-city {
    background-color: #82B3D3;
    color: #ffffff;
}

.item-turist {
    background-color: rgba(131, 179, 211, 0.12);
}

.item-road {
    background-color: rgba(131, 179, 211, 0.20);
}

/* rest */
.rest h2 {
    text-align: center;
    color: #000;

    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

.rest-description {
    text-align: center;
    font-size: 22px;
    line-height: 26px;
}

.rest-list {
    text-align: center;
}

.rest-item-title {
    color: #000;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
}

.rest-item-container-1 {
    background-image: url("../images/rest/rest-icon-1.svg");
    background-color: rgba(131, 179, 211, 0.12);
    background-position: center;
    background-repeat: no-repeat;
}

.rest-item-container-2 {
    background-image: url("../images/rest/rest-icon-2.svg");
    background-color: #fff;
    background-position: center;
    background-repeat: no-repeat;
}

.rest-item-container-3 {
    background-image: url("../images/rest/rest-icon-3.svg");
    background-color: rgba(131, 179, 211, 0.12);
    background-position: center;
    background-repeat: no-repeat;
}

/* form */
.form {
    background-color: #ffffff;
}

.form-title {
    color: #000000;
    text-align: center;

    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
}

.form-description {
    text-align: center;
    font-size: 22px;
    line-height: 26px;
}

.button {
    background-color: #756157;
    color: #ffffff;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
}

/* newsletter */
.newsletter {
    background-image: url("../images/background/newsletter-background.jpg");
    color: #ffffff;
    background-repeat: no-repeat;
    background-position: center;
}

.newsletter-title {
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

.newsletter-description {
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
}

.field {
    color: #000000;
    line-height: 24px;
}

.newsletter-button {
    color: #ffffff;
    background-color: #82B3D3;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
}

/* page-footer */

/* расскомментировать в 8 блоке */
/* .footer-link-vk {
    background-image: url("../images/social/Vkontakte.svg");
    color: rgba(131, 179, 211, 1);
    background-repeat: no-repeat;
}

.footer-link-tg {
    background-image: url("../images/social/Telegram.svg");
    color: rgba(131, 179, 211, 1);
    background-repeat: no-repeat;
}

.footer-link-yt {
    background-image: url("../images/social/YouTube.svg");
    color: rgba(131, 179, 211, 1);
    background-repeat: no-repeat;
} */

.footer-number {
    color: #000000;
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    line-height: 40px;
    text-transform: uppercase;
    text-decoration: none;
}
