@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/ptsans-400.woff2) format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/ptsans-700.woff2) format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    height: 100%;
    min-width: 1280px;
    font-family: "PT Sans", sans-serif;
    font-size: 22px;
    line-height: 26px;
    color: #333333;
    background-color: #f2f2f2;
    margin: 0;
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0 auto;
    width: 1200px;
    background-color: #ffffff;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.20);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

/* page-header */
.page-header {
    background-color: #ffffff;
    width: 1200px;
}

.navigation {
    display: flex;
    padding: 0 70px;
    justify-content: space-between;
    align-items: flex-start;
}

.logo {
    display: block;
    position: relative;
    margin-bottom: -6px;
}

.navigation-list {
    display: flex;
    flex-wrap: wrap;
    width: 620px;
    margin: 0;
    margin-left: 30px;
    padding: 0;
    list-style: none;
}

.navigation-user {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    max-width: 268px;
    margin-left: auto;
    padding: 0;
}

.navigation-user .navigation-item:last-child {
    margin-right: 20px;
}

.navigation-link {
    display: block;
    padding: 20px 16px;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;

    text-align: center;
    color: #000000;
    text-decoration: none;
    text-transform: capitalize;
}

.navigation-user .navigation-link {
    min-width: 20px;
    min-height: 20px;
}

.navigation-user-value {
    color: #ffffff;
    background-color: #7DB54F;
    border-radius: 10px;
    width: 20px;
    height: 20px;
    padding: 4px 5px 5px;

    font-size: 10px;
    line-height: 10px;
}

.navigation-link-button {
    text-align: center;
    color: #ffffff;
    align-self: center;

    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    text-decoration: none;

    background-color: #756157;
    border-radius: 4px;

    padding: 8px 34px;
    width: 160px;
}

/* main-container */
.main-container {
    flex-grow: 1;
}

/* hero */
.hero {
    display: block;
    background-image: url("../images/background/hero-background.jpg");
    background-color: #f2f2f2;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    padding-top: 51px;
    padding-bottom: 82px;
    margin-bottom: 69px;
}

.logo-hero {
    display: block;
    margin: 0 auto;
}

/* advantages */
.advantages {
    background-color: #ffffff;
    padding: 0;
    margin: 0;
    margin-bottom: 64px;
}

.advantages-title {
    color: #000000;
    text-align: center;

    margin: 0;
    margin-bottom: 25px;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
}

.advantages-description {
    text-align: center;
    margin: 0;
    margin-bottom: 69px;
}

.advantages-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.advantages-item {
    background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-of-type(3) {
    background-color: rgba(131, 179, 211, 0.20);
}

.advantages-item-wide {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: #82B3D3;
}

.advantages-item-wide-reverse {
    flex-direction: row-reverse;
}

.advantages-item-container {
    width: 230px;
    min-height: 200px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    padding: 90px 85px;
    margin-top: auto;
    margin-bottom: auto;
}

.advantages-img {
    display: block;
}

.advantages-item-title {
    color: #000000;
    text-align: center;

    width: 172px;
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
}

.advantages-item-wide .advantages-item-title {
    color: #ffffff;

}

.advantages-item-description {
    text-align: center;
    padding: 0;
    margin: 0;
    margin-top: 30px;
    font-size: 18px;
    line-height: 21px;
}

.advantages-item-wide .advantages-item-description {
    color: #ffffff;
}

/* rest */
.rest {
    background-color: #ffffff;
    margin: 0;
    margin-bottom: 96px;
}

.rest h2 {
    text-align: center;
    color: #000000;

    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

.rest-description {
    text-align: center;
    margin: 0;
    margin-bottom: 64px;
}

.rest-list {
    display: flex;

    list-style: none;
    padding: 0;
    margin: 0;
}

.rest-item {
    width: 400px;
}

.rest-item-container {
    width: 230px;
    min-height: 200px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    padding: 90px 85px;
    margin-top: auto;
    margin-bottom: auto;

    background-color: rgba(131, 179, 211, 0.12);
    background-position: center 60px;
    background-repeat: no-repeat;
}

.rest-item-title {
    color: #000000;
    text-align: center;

    width: 172px;
    padding: 0;
    margin: 0;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
}

.rest-item-description {
    text-align: center;
    padding: 0;
    margin: 0;
    margin-top: 30px;
    font-size: 18px;
    line-height: 21px;
}

.rest-item-container-1 {
    background-image: url("../images/rest/rest-icon-1.svg");

}

.rest-item-container-2 {
    background-image: url("../images/rest/rest-icon-2.svg");
    background-color: #ffffff;
}

.rest-item-container-3 {
    background-image: url("../images/rest/rest-icon-3.svg");
}

/* form */
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #ffffff;
    margin: 0;
    margin-bottom: 96px;
}

.form-title {
    color: #000000;
    margin: 0;
    margin-bottom: 20px;

    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
}

.form-description {
    margin: 0;
    margin-bottom: 54px;
}

.button-form {
    font-family: inherit;
    background-color: #756157;
    color: #ffffff;
    border-color: rgba(255, 255, 255, 0);
    border-radius: 4px;

    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;

    padding: 8px 50px;
}

/* newsletter */
.newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    padding: 96px 258px 104px;

    background-image: url("../images/background/newsletter-background.jpg");
    background-color: #296085;
    color: #ffffff;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.newsletter-container {
    width: 684px;
}

.newsletter-title {
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

.newsletter-description {
    margin: 0;
    margin-bottom: 54px;
}

.newsletter-form {
    display: flex;
}

.field {
    font-family: inherit;
    background-color: #F2F2F2;
    color: #000000;
    border-radius: 4px 0 0 4px;
    border-color:rgba(255, 255, 255, 0);

    line-height: 24px;

    width: 452px;
    padding: 12px 20px;
}

.newsletter-button {
    font-family: inherit;
    color: #ffffff;
    background-color: #82B3D3;
    border-color: rgba(255, 255, 255, 0);
    border-radius: 0 4px 4px 0;
    padding: 0 50px;
    width: 232px;

    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
}

/* page-footer */
.page-footer {
    background-color: #ffffff;
}

.footer-container {
    display: flex;
    justify-content: space-between;

    padding: 40px 70px 30px;
    margin: 0;
}

.footer-social {
    width: 142px;
}

.footer-social-list {
    display: flex;
    flex-wrap: wrap;

    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-social-item {
    width: 47px;
    height: 40px;
    margin: 0;
    margin-bottom: 8px;
}

.footer-social-item:nth-child(3n) {
    margin-right: 0;
}

/* расскомментировать в 8 блоке */
/* .footer-link-vk {
    background-image: url("../images/social/Vkontakte.svg");
    color: rgba(131, 179, 211, 1);
    background-repeat: no-repeat;
}

.footer-link-tg {
    background-image: url("../images/social/Telegram.svg");
    color: rgba(131, 179, 211, 1);
    background-repeat: no-repeat;
}

.footer-link-yt {
    background-image: url("../images/social/YouTube.svg");
    color: rgba(131, 179, 211, 1);
    background-repeat: no-repeat;
} */

.footer-number {
    color: #000000;
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    line-height: 40px;
    text-transform: uppercase;
    text-decoration: none;
}


/* Начало страницы КАТАЛОГ */

/* main-inner */
.main-background {
    display: block;
    background-image: url("../images/background/catalog-filter-background.jpg");
    color: #ffffff;
    background-color: #296085;
    background-repeat: no-repeat;
    background-size: cover;

    padding: 35px 70px 70px;
    margin: 0;
}

.inner-header-title {
    margin: 0;
    margin-bottom: 8px;
    font-size: 60px;
    line-height: 78px;
}

.breadcrumbs {
    display: flex;
    list-style: none;
    margin: 0;
    padding-left: 41px;
}

.breadcrumbs-link {
    display: block;
    font-size: 16px;
    line-height: 21px;
    text-decoration: none;
    margin: 0;
    margin-bottom: 40px;
    margin-right: 10px;
}

/* filter */
.container-filter {
    display: flex;
}

.catalog-filter-group {
    border-color: rgba(255, 255, 255, 0);
    padding: 0;
    margin: 0;
    margin-right: 70px;
}

.catalog-filter-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.catalog-filter-title {
    margin-bottom: 32px;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-transform: capitalize;
}

.control {
    font-size: 18px;
    line-height: 23px;
}

.button-filter {
    font-family: inherit;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;

    width: 191px;
    height: 36px;
    padding: 0 50px;
}

.button-apply {
    color: #ffffff;
    background-color: #82B3D3;
    border-color: rgba(255, 255, 255, 0);
    border-radius: 4px;
}

.button-reset {
    background-color: rgba(255, 255, 255, 0);
    border-color: rgba(255, 255, 255, 0);
    color: #ffffff;
}

/* catalog-products */
.catalog-products {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: 50px 70px;
}

.products-header {
    display: flex;
    margin-bottom: 40px;
}

.products-header-description {
    margin: 0;
    color: #000000;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
}

.select-control {
    font-family: inherit;
    color: #333333;
    font-size: 18px;
    line-height: 21px;

    border: 2px solid #E5E5E5;
    margin-left: auto;
}

.container-location {
    margin-left: 70px;
}

.buttons-locations {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.buttons-locations-items {
    margin-right: 8px;
}

.buttons-locations-items:last-child {
    margin-right: 0;
}

.button-location {
    font-family: inherit;
    width: 48px;
    height: 48px;
}

/* products-cards */
.product-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

/* .card-container {
    display: flex;
    flex-direction: column;


    width: 340px;
} */

.product-card-link-title {
    color: #000000;
    font-size: 24px;
    line-height: 28px;
    text-decoration: none;
}

.product-card-description {
    font-size: 18px;
    line-height: 21px;
}

.card-price {
    font-size: 18px;
    line-height: 21px;
}

.product-button {
    font-family: inherit;
    color: #ffffff;
    border-radius: 4px;
    border-color: rgba(255, 255, 255, 0);

    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
}

.product-button-more {
    background-color: #756157;
}

.product-button-more-link {
    color: #ffffff;
    text-decoration: none;
}

.product-button-favorites {
    background-color: #82B3D3;
    color: #ffffff;
}

.button-selected {
    background-color: #7DB54F;
}

.rating {
    font-family: inherit;
    width: 140px;
    height: 37px;
    text-align: center;
    border-color: rgba(255, 255, 255, 0);

    border-radius: 4px;
    background-color: #F2F2F2;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
}

/* products-footer */
.pagination {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
    display: block;
    box-sizing: border-box;
    background-color: #82B3D3;
    color: #ffffff;

    padding: 12px 24px;
    width: 60px;
    height: 60px;

    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    text-decoration: none;
}

.pagination-current {
    background-color: #F2F2F2;
    color: #000000;
}

/* newsletter-catalog */
.newsletter-catalog {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    padding: 96px 258px 104px;

    background-color: #ffffff;
}

.newsletter-catalog-title {
    color: #000000;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;

    padding: 0;
    margin: 0;
    margin-bottom: 20px;
}

.newsletter-catalog-description {
    margin: 0;
    margin-bottom: 54px;
}
