@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/ptsans-400.woff2) format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/ptsans-700.woff2) format("woff2");
    font-display: swap;
}

body {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #333;
    background-color: #fff;
}

.visually-hidden {
    visibility: hidden;
}

/* header */
.header {
    color: #000;
}

.navigation-link {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: #000;
    text-decoration: none;
}

.button-navigation-link {
    color: #FFF;
    background-color: #756157;
}

.navigation-link-button {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
}

/* hero */
.hero {
    background-image: url("../images/background/hero-background.jpg");
    color: #333;
    background-size: 1200px 485px;
    background-repeat: no-repeat;
}

/* advantages */
.advantages-title {
    text-align: center;
    color: #000;

    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
}

.advantages-description {
    color: #333;
    text-align: center;
    font-size: 22px;
    line-height: 26px;
}

.advantages-list {
    text-align: center;
}
