@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/ptsans-400.woff2) format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/ptsans-700.woff2) format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    height: 100%;
    min-width: 1280px;
    font-family: "PT Sans", sans-serif;
    font-size: 22px;
    line-height: 26px;
    color: #333333;
    background-color: #f2f2f2;
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0 auto;
    width: 1200px;
    background-color: #ffffff;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.20);
}
/* .visually-hidden {
    visibility: hidden;
} */

/* page-header */
.page-header {
    background-color: #ffffff;
}

.navigation {
    display: flex;
    width: 1200px;
    padding: 0 70px;
    justify-content: space-between;
    align-items: flex-start;
}

.navigation-list {
    list-style: none;
    width: 620px;
    padding: 0;
    margin: 0;
}

.navigation-user {
    list-style: none;
    max-width: 268px;
    margin-left: auto;
}

.navigation-link {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;

    text-align: center;
    color: #000000;
    text-decoration: none;
    text-transform: capitalize;
}

.navigation-user-value {
    color: #ffffff;
    background-color: #7DB54F;
    border-radius: 10px;
    width: 20px;
    height: 20px;
    padding: 4px 5px 5px;

    font-size: 10px;
    line-height: 10px;
}


.button-navigation-link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    font-family: inherit;
    background-color: #756157;
    border-color: rgba(255, 255, 255, 0);
    border-radius: 4px;

    width: 160px;
    height: 36px;
}

.navigation-link-button {
    text-align: center;
    color: #ffffff;

    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    text-decoration: none;
}

/* main-container */
.main-container {
    flex-grow: 1;
}

/* hero */
.hero {
    display: block;
    background-image: url("../images/background/hero-background.jpg");
    background-color: #f2f2f2;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    padding: 0;
    margin: 0;
}

.logo-hero {
    display: block;
    margin: 0 auto;
}

/* advantages */
.advantages {
    background-color: #ffffff;
}

.advantages-title {
    color: #000000;
    text-align: center;

    padding: 0;
    margin: 0;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
}

.advantages-description {
    text-align: center;
}

.advantages-list {
    margin: 0;
    padding: 0;
    text-align: center;
}

.advantages-item {
    padding: 0;
    margin: 0;
    list-style: none;
}

.advantages-item-title {
    padding: 0;
    margin: 0;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
}

.advantages-item-description {
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 18px;
    line-height: 21px;
}

.item-city {
    background-color: #82B3D3;
    color: #ffffff;
}

.item-turist {
    background-color: rgba(131, 179, 211, 0.12);
}

.item-road {
    background-color: rgba(131, 179, 211, 0.20);
}

/* rest */
.rest {
    background-color: #ffffff;
}

.rest h2 {
    text-align: center;
    color: #000000;

    padding: 0;
    margin: 0;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

.rest-description {
    text-align: center;
}

.rest-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.rest-item {
    width: 400px;
}

.rest-item-container {
    padding: 80px 85px;
}

.rest-item-title {
    color: #000000;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}

.rest-item-description {
    font-size: 18px;
    line-height: 21px;
    padding: 0;
    margin: 0;
}

.rest-item-container-1 {
    background-image: url("../images/rest/rest-icon-1.svg");
    background-color: rgba(131, 179, 211, 0.12);
    background-position: center 30px;
    background-repeat: no-repeat;
}

.rest-item-container-2 {
    background-image: url("../images/rest/rest-icon-2.svg");
    background-color: #ffffff;
    background-position: center 30px;
    background-repeat: no-repeat;
}

.rest-item-container-3 {
    background-image: url("../images/rest/rest-icon-3.svg");
    background-color: rgba(131, 179, 211, 0.12);
    background-position: center 30px;
    background-repeat: no-repeat;
}

/* form */
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #ffffff;
    padding: 96px 304px;
    margin: 0;
}

.form-title {
    color: #000000;

    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
}


.button-form {
    font-family: inherit;
    background-color: #756157;
    color: #ffffff;
    border-color: rgba(255, 255, 255, 0);
    border-radius: 4px;

    width: 376px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
}

/* newsletter */
.newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    padding: 96px 258px 104px;

    background-image: url("../images/background/newsletter-background.jpg");
    background-color: #296085;
    color: #ffffff;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.newsletter-title {
    padding: 0;
    margin: 0;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

.field {
    font-family: inherit;
    background-color: #F2F2F2;
    color: #000000;
    border-radius: 4px 0 0 4px;

    line-height: 24px;
}

.newsletter-button {
    font-family: inherit;
    color: #ffffff;
    background-color: #82B3D3;
    border-color: rgba(255, 255, 255, 0);
    border-radius: 0 4px 4px 0;

    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
}

/* page-footer */
.page-footer {
    background-color: #ffffff;
}

.footer-container {
    display: flex;
    justify-content: space-between;

    padding: 40px 70px 30px;
    margin: 0;
}

.footer-social {
    width: 142px;
}


/* расскомментировать в 8 блоке */
/* .footer-link-vk {
    background-image: url("../images/social/Vkontakte.svg");
    color: rgba(131, 179, 211, 1);
    background-repeat: no-repeat;
}

.footer-link-tg {
    background-image: url("../images/social/Telegram.svg");
    color: rgba(131, 179, 211, 1);
    background-repeat: no-repeat;
}

.footer-link-yt {
    background-image: url("../images/social/YouTube.svg");
    color: rgba(131, 179, 211, 1);
    background-repeat: no-repeat;
} */

.footer-number {
    color: #000000;
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    line-height: 40px;
    text-transform: uppercase;
    text-decoration: none;
}


/* Начало страницы КАТАЛОГ */

/* main-inner */
.main-background {
    background-image: url("../images/background/catalog-filter-background.jpg");
    color: #ffffff;
    background-color: #296085;
    background-repeat: no-repeat;
    background-size: cover;
}

.inner-header-title {
    font-size: 60px;
    line-height: 78px;
}

.breadcrumbs {
    display: flex;
    list-style: none;
}

.breadcrumbs-link {
    color: #ffffff;
    font-size: 16px;
    line-height: 21px;
    text-decoration: none;
    margin: 0;
    padding: 0;
    margin-right: 10px;
justify-content: start;
}

/* filter */
.container-filter {
    display: flex;
}

.catalog-filter-group {
    border-color: rgba(255, 255, 255, 0);
}

.catalog-filter-list {

    list-style: none;
}

.catalog-filter-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-transform: capitalize;
}

.control {
    font-size: 18px;
    line-height: 23px;
}

.button-filter {
    font-family: inherit;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;

    width: 191px;
    height: 36px;
    padding: 0 50px;
}

.button-apply {
    color: #ffffff;
    background-color: #82B3D3;
    border-color: rgba(255, 255, 255, 0);
    border-radius: 4px;
}

.button-reset {
    background-color: rgba(255, 255, 255, 0);
    border-color: rgba(255, 255, 255, 0);
    color: #ffffff;
}

/* catalog-products */
.catalog-products {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: 50px 70px;
}

.products-header {
    display: flex;
}

.products-header-description {
    color: #000000;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
}

.select-control {
    font-family: inherit;
    color: #333333;
    font-size: 18px;
    line-height: 21px;
}

.buttons-locations {
    display: flex;
    list-style: none;
}

.button-location {
    font-family: inherit;
}

/* products-cards */
.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    list-style: none;

    padding: 0;
    margin: 0;
}

/* .card-container {
    display: flex;
    flex-direction: column;


    width: 340px;
} */

.product-card-link-title {
    color: #000000;
    font-size: 24px;
    line-height: 28px;
    text-decoration: none;
}

.product-card-description {
    font-size: 18px;
    line-height: 21px;
}

.card-price {
    font-size: 18px;
    line-height: 21px;
}

.product-button {
    font-family: inherit;
    color: #ffffff;
    border-radius: 4px;
    border-color: rgba(255, 255, 255, 0);

    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
}

.product-button-more {
    background-color: #756157;
}

.product-button-more-link {
    color: #ffffff;
    text-decoration: none;
}

.product-button-favorites {
    background-color: #82B3D3;
    color: #ffffff;
}

.button-selected {
    background-color: #7DB54F;
}

.rating {
    font-family: inherit;
    width: 140px;
    height: 37px;
    text-align: center;
    border-color: rgba(255, 255, 255, 0);

    border-radius: 4px;
    background-color: #F2F2F2;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
}

/* products-footer */
.pagination {
    list-style: none;
}

.pagination-link {
    background-color: #82B3D3;
    color: #ffffff;

    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    text-decoration: none;
}

.pagination-current {
    background-color: #F2F2F2;
    color: #000000;
}

/* newsletter-catalog */
.newsletter-catalog {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    padding: 96px 258px 104px;

    background-color: #ffffff;
}

.newsletter-catalog-title {
    color: #000000;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;

    padding: 0;
    margin: 0;
}
